

.input1{
  width: 500px;
  height: 40px;
  background-color: black;
  color: #fff;
  font-size: x-large;
  font-weight: 600;
  border-radius: 12px;
}
.input2{
  width: 200px;
  height: 40px;
  background-color: black;
  color: #fff;
  font-size: x-large;
  font-weight: 600;
  border-radius: 12px;

}
#div1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: rgb(179, 163, 163);
}
.Add{
  height: 40px;
  width: 100px;
  background-color: black;
  color: #fff;
  border-radius: 12px;
  margin-left: 30px;
  font-size: x-large;
  font-weight: 600;
}
.btn1{
  height: 40px;
  width: 100px;
  background-color: black;
  color: #fff;
  border-radius: 12px;
  font-size: x-large;
  font-weight: 600;
  margin-top: 20px;
  margin-right: 100px;
}
.btn2{
  height: 40px;
  width: 200px;
  background-color: black;
  color: #fff;
  border-radius: 12px;
  font-size: x-large;
  font-weight: 600;
  margin-right: 200px;
  
}

.btn3{
  height: 40px;
  width: 100px;
  background-color: rgba(84, 245, 25, 0.934);
  color: #fff;
  border-radius: 12px;
  font-size: x-large;
  font-weight: 600;
  
}
.btn4{
  height: 40px;
  width: 100px;
  background-color: rgba(32, 21, 245, 0.934);
  color: #fff;
  border-radius: 12px;
  font-size: x-large;
  font-weight: 600;
  margin-right: 10px;
  
}
.btn5{
  height: 40px;
  width: 90px;
  background-color: rgba(245, 25, 58, 0.934);
  color: #fff;
  border-radius: 12px;
  font-size: x-large;
  font-weight: 600;
  
}


